.reserve-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #cfe7e5;
  padding: 20px;
  border-radius: 5px;
}
.totalhours {
  width: 600px;
}
.ville {
  width: 150px;
  font-weight: bold;
}
.time {
  width: 100px;
}
.btn {
  background: #213638;
  padding: 10px 25px;
  color: #ffff;
  border-radius: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.price {
  width: 70px;
  font-weight: bold;
  color: rgb(14, 112, 191);
}
.reserve-info2 {
  display: flex;
  gap: 50px;
  margin: 50px;
  background-color: #cfe7e5;
  padding: 30px;
  border-radius: 5px;

  justify-content: center;
}
.reserve-text {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: larger;
}
